.socialCards{
    margin-top: 15px;

    display: flex;
    align-items: center;
}

.socialCards a{
    margin: 5px;
    padding: 0.5rem; 
    border-radius: 0.375rem; 
    border: 1px solid var(--cor-fonte-post);
    transition: all .2s;
    
}

.socialCards a:hover{
    border: 1px solid var(--color-border);
    background-color: var(--color-border);
    color: #fff;
}

.myNetwork{
    margin-top: 2.5rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 700;
}