.navMenu {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background-color: var(--color-main);
    color: #fff;

    /* border-bottom: 2px solid var(--color-border); */
    /* margin-bottom: 80px; */
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}