.navLink {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
    transition: text-decoration 2s;
}

.navLink:hover{
    text-decoration: underline;
}

.textMarked{
    text-decoration: underline;
}