.footer {
    background-color: var(--color-main);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.footer a{
    color: #cad1d1;
    transition: color 0.5s;
}

.footer a:hover{
    color: var(--color-border);
}