.post {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    width: 282px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border: 1.8px solid rgb(156 163 175);
    border-radius: 8px;
    padding-bottom: 1.5rem;
    transition: all .2s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.post:hover {
    border: 1.8px solid rgb(200, 128, 248);
    transform: scale(1.1);
}

.capa {
    width: 100%;
    object-fit: cover;
    
}

.title {
    font-family: var(--fonte-principal);
    font-size: 1.10rem;
    color: var(--azul-escuro);
    line-height: 1.75rem;
    margin: 1.5rem 0 1.75rem;
}

.btnread {
    display: inline-block;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--color-segun);
    color: var(--branco);
    border: 2px solid var(--color-segun);
    cursor: pointer;
    transition: all 0.5s
}

.btnread:hover {
    background-color: var(--color-hover);
    border: 2px solid var(--color-hover);
}

@media (max-width: 1100px) {
    .post {
        width: 336px;
    }
    .titulo {
        font-weight: 600;
    }
    .botaoLer {
        padding: 0.6875rem 1.5rem;
        font-size: 1.375rem;
    }
}